@page
@model DispatcherWebApp.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.IDPlant" class="control-label"></label>
                <input asp-for="Order.IDPlant" class="form-control" />
                <span asp-validation-for="Order.IDPlant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.IDOrder" class="control-label"></label>
                <input asp-for="Order.IDOrder" class="form-control" />
                <span asp-validation-for="Order.IDOrder" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}