@page
@model EnvModel

<h1>Environment Variables</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var env in Model.EnvironmentVariables)
        {
            <tr>
                <td>@env.Key</td>
                <td>@env.Value</td>
            </tr>
        }
    </tbody>
</table>